{{ define "main" }}
    {{ range .Site.PublishedFeed }}
        <section class="feed-item">
            <a href="/feed/{{ .Config.Slug }}">
                <h2 class="post-title">{{ .Config.Title }}</h2>
            </a>
            <p class="post-date">{{ .Config.FormattedDate }}</p>
            {{ if .Content }}
            <div class="photo-content posthaven-post-body">{{ .Content }}</div>
            {{ end }}
            {{ if .Images }}
            {{ range .Images }}
            <img src="{{ . }}" style="max-width: 100%;" loading="lazy">
            {{ end }}
            {{ end }}
            {{ if .Video }}
            <video class="video-player" src="{{ .Video }}" title="{{ .Config.Title }}" controls style="max-width: 100%;"></video>
            {{ end }}
        </section>
    {{ end }}

    {{ if .Site.Config.Player }}
    <div class="player">
        <div class="player-main">
            <img class="player-image" src="{{ .Site.Config.Player.Image }}" alt="{{ .Site.Config.Player.Name }}">
            <div class="player-details">
                <p class="player-prompt">I'm currently listening to:</p>
                <div class="player-title-wrapper">
                    <div class="player-title-marquee">
                        <p class="player-title">{{ .Site.Config.Player.Name }} - {{ .Site.Config.Player.ArtistName }}</p>
                    </div>
                </div>
            </div>
        </div>
        <audio id="song-player" class="player-controls" controls src="{{ .Site.Config.Player.PreviewURL }}"></audio>
    </div>
    {{ end }}
    <script>
        var masterVolume = 0.3;

        var songPlayer = document.getElementById("song-player");
        songPlayer.volume = masterVolume;

        // employing my 2014 vanilla js skillz
        var videos = document.querySelectorAll(".video-player");
        if (videos.length > 0) {
            for (var i=0;i<videos.length;i++) {
                var video = videos[i];
                video.volume = masterVolume;
            }
        }
    </script>
{{ end }}
