{{ define "main" }}
    <h1 class="title archive-title">About</h1>
    <div class="posthaven-post-body">
        <h3>
            <i>
                Gonna blast, squeeze first, ask questions last<br>
                That's how most of these so-called gangsters pass
            </i>
        </h3>
        <p>Hi there! My name's Tim White and I'm a Software Engineer from Bournemouth, UK. You've somehow come across my blog, probably because you searched for me (naughty) or because you found one of my essays on Hacker News.</p>
        <p>For the uninitiated, I mostly use this blog to write about technology (and my position within it) but I also often write about quality and experience (and other things I'm interested in). Some of my favourite posts include: <a href="/building-software-sharing-knowledge/" target="_blank">"Building Software, Sharing Knowledge"</a>, <a href="/code-and-context/" target="_blank">"Code and Context"</a> and <a href="/some-quality-biases/" target="_blank">"Some Quality Biases"</a>.</p>
        <p>I blog for various reasons, including to educate others about things I've learned, to clarify my own thoughts and to read around subjects I'm interested in.</p>
        <p><a href="/feed/" target="_blank">timstagram</a> is where I share some of my life outtakes and experiment a little.</p>
        <p>The site itself is built with a handful of Go scripts I wrote for myself and hosted on Github pages. You can find the source <a href="https://github.com/notoriousbfg/notoriousbfg.github.io" target="_blank">here</a>.</p>
        <img src="/me.jpg" alt="Tim White" style="width: 100%; max-width: 400px; margin-bottom: 10px;">
        <div style="width: 100%; margin-bottom: 20px;">
            <a href="https://notbyai.fyi" target="_blank">
                <img src="/human.png" alt="Written by a human being">
            </a>
        </div>
    </div>
{{ end }}