{{ define "base" }}
<!DOCTYPE html>
<html>
    <head>
        <title>{{ .Config.Title }}</title>
        <meta name="description" content="{{ .Config.Description }}" />
        <link href="https://fonts.googleapis.com/css?family=Inter:400,600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/site.css">
    </head>
    <body>
        <main class="container">
            <a class="home-link link-hover" href="/">Tim's Blog</a>
            {{ template "main" . }}
        </main>
    </body>
</html>
{{ end }}