{{ define "base" }}
<!DOCTYPE html>
<html>
    <head>
        {{ if .HasPost }}
            <title>{{ .Post.Config.Title }}</title>
            {{ if eq (len .Post.Config.Description) 0 }}
            <meta name="description" content="{{ .Site.Config.Description }}" />
            {{ else }}
            <meta name="description" content="{{ .Post.Config.Description }}" />
            {{ end }}
        {{ else }}
            <title>{{ .Site.Config.Title }}</title>
            <meta name="description" content="{{ .Site.Config.Description }}" />
        {{ end }}
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/site.css">
    </head>
    <body>
        <header style="margin-top: 2rem;">
            <nav class="nav container">
                <ul class="nav-list">
                    <li>
                        <a href="/" class="logo">Tim White</a>
                    </li>
                    <li>
                        <a href="/" class="link-hover">blog</a>
                    </li>
                    <li>
                        <a href="/books" class="link-hover">books</a>
                    </li>
                    <li>
                        <a href="/feed" class="link-hover">timstagram</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main class="container">
            {{ template "main" . }}
        </main>
    </body>
</html>
{{ end }}