{{ define "main" }}
    <h1 class="title archive-title">
        Books I recommend
        <a href="https://oku.club/user/notoriousbfg/collection/recs" target="_blank" style="font-size: 1.25rem;">(From oku.club)</a>
    </h1>
    {{ range .Site.Books }}
        <a class="post-link" href="{{ .Link }}" target="_blank">
            <h2 class="title" style="margin-bottom: 0;">{{ .Title }}</h2>
            <p style="margin-bottom: 0;">by {{ .Author.Name }}</p>
            <p>Read {{ .Published }}</p>
        </a>
    {{ end }}
{{ end }}