{{ define "main" }}
<section>
    {{ range .Site.LatestBlogPosts }}
        <article class="post is-current home-post">
            <header class="post-header">
                <a href="/{{ .Config.Slug }}">
                    <h1 class="title post-title">{{ .Config.Title }}</h1>
                </a>
                <p>
                    <span class="post-date">{{ .Config.FormattedDate }}</span>
                </p>
            </header>
            <div class="body">
                <div class="posthaven-post-body">
                    {{ .Content }}
                </div>
            </div>
        </article>
    {{ end }}
</section>
<div style="display: flex; justify-content: space-between; margin-bottom: 20px;">
    <a class="link-hover" style="display: inline-block;" href="/archive">More Posts</a>
    <span>{{ .Site.Config.Version }}</span>
</div>
{{ end }}