{{ define "main" }}
<section>
    <article class="post">
        <a class="home-link link-hover" href="/">Tim's Blog</a>
        <header class="post-header">
            <a href="/{{ .FirstPost.Config.Slug }}">
                <h1 class="title post-title">{{ .FirstPost.Config.Title }}</h1>
            </a>
            <p>
                <span class="post-date">{{ .FirstPost.Config.FormattedDate }}</span>
            </p>
        </header>
        <div class="body">
            <div class="posthaven-post-body">
                {{ .FirstPost.Content }}
            </div>
        </div>
    </article>
</section>
<section class="post-links">
    {{ range .LatestPosts }}
        <a href="/{{ .Config.Slug }}" class="post-link">
            <h2 class="title link-hover">{{ .Config.Title }}</h2>
            <span class="post-date">{{ .Config.FormattedDate }}</span>
        </a>
    {{ end }}
</section>
<a class="link-hover" style="margin: 20px 0; display: inline-block;" href="/archive">More Posts</a>
{{ end }}