{{ define "main" }}
	<article class="post is-current">
		<header class="post-header">
			<h1 class="title post-title">{{ .Post.Config.Title }}</h1>
			<p>
				<span class="post-date">{{ .Post.Config.FormattedDate }}</span>
			</p>
		</header>
		<div class="body">
			<div class="posthaven-post-body">
				{{ .Post.Content }}
			</div>
		</div>
		<section class="bio">
			<div class="profile-pic">
				<img src="/img/me.jpg" width="72" height="72">
			</div>
			<p class="bio-text">{{ .Site.Config.Bio }}</p>
		</section>
	</article>
	<a class="link-hover" style="margin: 20px 0; display: inline-block;" href="/archive">More Posts</a>
{{ end }}