{{ define "main" }}
	<article class="post is-current">
		<header class="post-header">
			<h1 class="title post-title">{{ .Config.Title }}</h1>
			<p>
				<span class="post-date">{{ .Config.Published.Format "2nd January, 2006" }}</span>
			</p>
		</header>
		<div class="body">
			<div class="posthaven-post-body">
				{{ .Content }}
			</div>
		</div>
		<section class="bio">
			<div class="profile-pic">
				<img src="/img/me.jpg" width="72" height="72">
			</div>
			<p class="bio-text">I’m Tim, a Software Developer from the UK. I like to program, cook, read & run.</p>
		</section>
	</article>
{{ end }}